<!DOCTYPE html>
<html>
<head>
<title>index</title>
</head>

<body>
<h1>Welcome</h1>
<form action='/pdfFile/' method='post'>
    {% csrf_token %}
    <input id="inputFile" type="file" name='pdfFile' onchange="convertToBase64();" />
    <input id='encoded' type='hidden' name='encoded'>
    <button type='submit'>submit</button>
</form>
    <a href='{% url "lists" %}'> list of the pdf</a>

<script type="text/javascript">
    function convertToBase64() {
        //Read File
        var selectedFile = document.getElementById("inputFile").files;
        //Check File is not Empty
        if (selectedFile.length > 0) {
            // Select the very first file from list
            var fileToLoad = selectedFile[0];
            // FileReader function for read the file.
            var fileReader = new FileReader();
            var base64;
            // Onload of file read the file content
            fileReader.onload = function(fileLoadedEvent) {
                base64 = fileLoadedEvent.target.result;
                // Print data in console
                console.log(base64);
                document.getElementById('encoded').value = base64;
            };
            // Convert data to base64
            fileReader.readAsDataURL(fileToLoad);
        }
    }

    function read(){
        const input_value = document.getElementById('inputFile').value;
        console.log(input_value);
        return
    }
</script>


</body>

</html>
